:root {
    // Типография
    --font-family: consolas, "Times New Roman", sans-serif;

    // s
    --font-size-s: 0.75rem;
    --font-line-s: 1rem;
    --fomt-line-s: var(--font-size-s) / var(--font-line-s) var(--font-family);

    // m
    --font-size-m: 1rem;
    --font-line-m: 1.5rem;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);

    // l
    --font-size-l: 1.5rem;
    --font-line-l: 2rem;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

    // xl
    --font-size-xl: 2rem;
    --font-line-xl: 2.5rem;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family);

    // Цвета
    --bg-overlay: rgb(0 0 0 / 50%);
    --red-light: #f00;
    --red-dark: #ce0505;

    // Размеры
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Индексы
    --z-index-modal: 10;
}
