.Articles {
    display: flex;
    flex-direction: column;
}

.list {
    margin-top: 1.5rem;
    flex: 1 1 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.viewSwitcher {
    margin-top: 0.75rem;
    margin-left: auto;
}
