.link {
    text-decoration: none;
    color: var(--primary-color);
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 0.8;
}

.link.primary {
    color: var(--primary-color);
}

.link.secondary {
    color: var(--inverted-primary-color);
}

.link.red {
    color: red;
}
