.skeletons {
    display: flex;
    flex-direction: column;
}

.skeletonAvatar {
    align-self: center;
}

.skeletonTitle {
    margin-top: 2rem;
}

.skeletonDescription {
    margin-top: 1rem;
}

.skeleton {
    margin-top: 2rem;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.articleTitle {
    margin-top: 2.75rem;
}

.articleMetaBlock {
    margin-top: 0.5rem;
}

.articleMetaItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.articleMetaIcon {
    fill: var(--primary-color);
}
