.AddCommentForm {
    padding: 1.5rem;
    border: 1px solid var(--primary-color);
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    margin-top: 0.75rem;
}
