.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 2.5rem;
    border-radius: 0.75rem;
    background-color: var(--bg-color);
    transition: transform 0.3s;
    transform: scale(0.5);
    max-width: 75%;
}

.opened {
    &.Modal {
        opacity: 1;
        pointer-events: all;
        z-index: var(--z-index-modal);
    }

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
