.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
}

.items {
    margin-top: 32px;
    margin-left: 24px;
}

.switchers {
    position: absolute;
    bottom: 2.25rem;
}

.collapsedBtn {
    position: absolute;
    right: 0;
    z-index: var(--z-index-modal);
    bottom: 1rem;
    transform: translateX(calc(100% + 0.5rem));
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
