.listBox {
    position: relative;
    width: fit-content;
}

.options {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    z-index: var(--z-index-modal);
    background-color: var(--list-box-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--bg-overlay);
}

.options.top {
    bottom: 100%;
}

.options.bottom {
    bottom: 0;
}

.option {
    cursor: pointer;
}

.optionContent {
    padding: 8px 12px 8px calc(24px + 8px + 4px);

    &.focus {
        background-color: var(--inverted-primary-color);
    }

    &.selected {
        padding-left: 4px;
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.icon {
    flex-shrink: 0;
}
