.SelectWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
