.Drawer {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}

.content {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70%;
    min-height: 100px;
    background-color: var(--bg-color);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 24px;
    transition: 0.3s all;
    transform: translateY(100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--z-index-modal);

    .content {
        transform: translateY(0%);
    }
}

.isClosing {
    .content {
        transform: translateY(100%);
    }
}
