.listBox {
    width: fit-content;
}

.options {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    z-index: var(--z-index-modal);
    background-color: var(--list-box-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--bg-overlay);
}

.option {
    cursor: pointer;
}

.optionContent {
    padding: 8px 12px 8px calc(24px + 8px + 4px);

    &.selected {
        padding-left: 4px;
    }
}

.icon {
    flex-shrink: 0;
}
