.navbar {
    padding: 1.5rem;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
}

.createNewArticleLink {
    margin-left: auto;
}

.ringBellIcon {
    fill: var(--inverted-primary-color);
}
