.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
    margin-left: auto;
}
