.ArticleDetailesPage {
    display: block;
}

.commentsBlock {
    margin-top: 2rem;
}

.addCommentForm {
    margin-top: 1rem;
}

.comments {
    margin-top: 1.5rem;
}

.recomendationsContainer {
    margin: 1.5rem 0;
}

.recomendationsContainer .recommendations {
    margin-top: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-x: visible;
}
