.title,
.text {
    color: var(--primary-color);
}

.Error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.Inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.Left {
    text-align: left;
}

.Center {
    text-align: center;
}

.Right {
    text-align: right;
}
