.ProfileCard {
    padding: 1.25rem;
    border: 2px solid var(--inverted-bg-color);
    min-height: 16rem;

    &.editing {
        border: 2px solid var(--inverted-primary-color);
    }
}

.data {
    margin-top: 1.5rem;
}
