.Dropdown {
    position: relative;
    display: flex inline;
}

.button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: var(--z-index-modal);
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.menu.topLeft {
    bottom: 100%;
    left: 0;
}

.menu.topRight {
    bottom: 100%;
    right: 0;
}

.menu.bottomLeft {
    left: 0;
    top: 100%;
}

.menu.bottomRight {
    right: 0;
    top: 100%;
}

.item {
    padding: 12px 24px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.active {
    background-color: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
